/public/

/resources/_gen/
*.tmp
*.bak

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

# Sensitive configuration files
.env
*.key
*.pem
*.secret

# Build directories
node_modules/
dist/

# Big media files
*.webp
*.mp4
*.mov