{{ define "main" }}
<section class="night-stories">
    <section class="night-stories-hero">
        <h1>──── 夜語記事 ────</h1>
        <p>關於我們社團活動的點點滴滴</p>
    </section>

    <section class="night-stories-grid">

    <a href="/night-stories/workshops/" class="night-stories-card">
        <img src="/images/news/news_1.png" alt="社課與星導工作坊">
        <h2>社課與星導工作坊</h2>
    </a>

    <a href="/night-stories/study/" class="night-stories-card">
        <img src="/images/news/news_1.png" alt="天文物理讀書會">
        <h2>天文物理讀書會</h2>
    </a>

    <a href="/night-stories/instrument/" class="night-stories-card">
        <img src="/images/news/news_1.png" alt="儀器工作坊與架訓班">
        <h2>儀器工作坊與架訓班</h2>
    </a>

    <a href="/night-stories/stargazers/" class="night-stories-card">
        <img src="/images/news/news_1.png" alt="快閃與四季觀測">
        <h2>快閃與四季觀測</h2>
    </a>

    </section>
</section>
{{ end }}