{{ define "main" }}
<section class="about-us">
    <ul class="about-nav">
        <li><a href="/about/philosophy/">社團宗旨與理念</a></li>
        <li><a href="/about/activities/">活動介紹</a></li>
        <li><a href="/about/advisor/">指導教授</a></li>
        <li><a href="/about/officers/">現任幹部</a></li>
        <li><a href="/about/bylaws/">社團規章</a></li>
    </ul>

    <main>
        <article class="content-article">
            <h2>{{ .Title }}</h2>
            {{ .Content }}
        </article>
    </main>
</section>
{{ end }}
