<p>
    © {{ now.Year }} 臺大天文社 NTU Astronomy Club<br>
</p>
<div class="contact-icons">
    <a href="https://www.facebook.com/ntuast" target="_blank" rel="noopener" title="Facebook"><i class="fa-brands fa-facebook fa-2x"></i></a>
    <a href="https://www.instagram.com/ntuastclub/" target="_blank" rel="noopener" title="Instagram"><i class="fa-brands fa-instagram fa-2x"></i> </a>
    <a href="mailto:ngc5566@gmail.com" title="Gmail"><i class="fa-solid fa-envelope fa-2x"></i></a>
    <a href="https://linktr.ee/ntuast" target="_blank" rel="noopener" title="Linktree"><i class="fa-solid fa-link fa-2x"></i></a>
</div>
<div class="footer-mail">Email: ngc5566@gmail.com</div>