<nav>
  <p class="site-title">
    <a href="{{ "/" | relURL }}">臺大天文社 NTU Astronomy Club</a>
  </p>
  <ul class="nav-menu">
    <li><a href="{{ "/about/" | relURL }}">認識我們</a></li>
    <li><a href="{{ "/calendar/" | relURL }}">行事曆</a></li>
    <li><a href="{{ "/legacy/" | relURL }}">往昔星辰</a></li>
    <li><a href="{{ "/night-stories/" | relURL }}">夜語記事</a></li>
    <li><a href="{{ "/gallery/" | relURL }}">宇宙。藝廊</a></li>
    <li><a href="{{ "/article/" | relURL }}">天。文學</a></li>
    <li><a href="{{ "/contact/" | relURL }}">聯絡我們</a></li>
  </ul>
</nav>
