<section class="stories-list">

    <div class="night-stories-header">
        <h1>{{ .Title }}</h1>
        <p>{{ .Params.description }}</p>
    </div>

    <div class="stories-items">
        {{ $list := .RegularPages }}
        {{ $active := (where $list ".Params.archived" "!=" true) }}
        {{ $pinned := (where $active ".Params.pinned" true ).ByDate.Reverse }}
        {{ $normal := (where $active ".Params.pinned" "!=" true).ByDate.Reverse }}
        {{ $ordered := union $pinned $normal }}
        {{ range $ordered }}
        <a href="{{ .RelPermalink }}" class="stories-item">

            {{ with .Params.cover }}
            <div class="stories-thumb">
                <iframe src="{{ . | absURL }}" frameborder="0"></iframe>
            </div>
            {{ end }}

            <div class="stories-meta">
                <h2>{{ .Title }}</h2>
                {{ partial "post-meta.html" . }}
                <p>{{ .Summary }}</p>
            </div>
        </a>
        {{ end }}
    </div>

</section>
