{{ define "main" }}
    <section class="contact">
        <h1>──── 聯絡我們 ────</h1>
        <div class="contact-container">
            <div class="left-container">
                <div class="contact-address">
                    <h3>社辦地址</h3>
                    <p>大安區羅斯福路四段1號第一學生活動中心242室, Taipei, Taiwan, 106</p>
                </div>
                <div class="contact-forms">
                    <a href="" target="_blank" class="btn-form">
                        文章投稿
                    </a>
                    <a href="" target="_blank" class="btn-form">
                        勘誤回報
                    </a>
                </div>
            </div>
            <div class="right-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.472757901947!2d121.53762947451315!3d25.018025477826633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa26e30d55a3%3A0x7305445449fdc084!2zMTA26Ie65YyX5biC5aSn5a6J5Y2A576F5pav56aP6Lev5Zub5q61MeiZn-esrOS4gOWtuOeUn-a0u-WLleS4reW_gw!5e0!3m2!1szh-TW!2stw!4v1767087289716!5m2!1szh-TW!2stw" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
{{ end }}